<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
<span>Please enter below information</span>
<form action="#" method="post" name="Employee-form">
    <div>
        Name<input type="text" name="name" required>
    </div>
    <div>
        Salary<input type="text" name="salary" required>
    </div>
    <div>
        Status
        <select name="status">
            <option>Active</option>
            <option>Deactive</option>
        </select>
    </div>
    <div>
        <input type="submit" value="submit">
        <input type="reset" value="reset">
    </div>
</form>

<script src="js/util.js"></script>
<script src="js/create.js"></script>
</body>
</html>